{% extends "@User/layout.html.twig" %}
{% block title %}{{ parent() }}Conditions d'utilisation{% endblock %}
{% block body %}
<div class="jumbotron"><h1 class="text-center">Conditions d'utilisation</h1>
	<p class="text-center">En utilisant Bomoko, ...</p>
</div>
{% endblock %}