{% extends "@User/layout.html.twig" %}
{% block title %}{{ parent() }}Résultat de l'inscription{% endblock %}
{% block body %}
<div class="jumbotron"><h1 class="text-center">Inscription réussi !</h1>
	<p class="text-center">Nous avons envoyé le lien d'activation de votre compte sur votre boite mail, allez donc la consulter</p>
</div>
{% endblock %}