<footer class="footer text-center" id="footer">
    <a href="{{ path('user_condition') }}" class="btn btn-link">Conditions d'utilisation</a><br>
    <a class="btn btn-lg btn-link" title="Suivez nous sur Whatsapp"><i class="fa fa-whatsapp text-muted"></i></a>
    <a class="btn btn-lg btn-link" title="Suivez nous sur Facebook"><i class="fa fa-facebook-square text-muted"></i></a>
    <a class="btn btn-lg btn-link" title="Suivez nous sur Twitter"><i class="fa fa-twitter-square text-muted"></i></a>
    <br><span class="text-muted">Powered by {{ webmaster }} &copy; Mars 2019</span>
</footer>