{% extends "@User/layout.html.twig" %}
{% block title %}{{ parent() }}Profile{% endblock %}
{% block body %}

<div class="well col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
<form method="post"  method="POST" action="{{ path('pub_new') }}" enctype="multipart/form-data">
	<legend>Nouvelle Publication<span class="glyphicon glyphicon-leaf"></legend>
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<!-- <input type="submit" class="btn btn-primary" /> -->
	<button type="submit" class="btn btn-primary pull-right">Envoyer <span class="glyphicon glyphicon-send"></span></button>
</form>
</div>


{% endblock %}